/* Collection Section Style */
.collection__section{
    margin-top: -100px;
    margin-bottom: 100px;
}

.collection__cards{
    background-image: url(../../images/ourcollection.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-top: 260px;
    padding-left: 65px;
}

.collection__card{
    text-align: center;
    margin-top: 290px;
}

.collection__card__title{
    font-size: 24px;
    font-weight: 900;
    font-family: "Fraunces", serif;
    margin-bottom: 24px;
    color: $color-title;
}

.collection__card__text{
    width: 255px;
    font-size: 16px;
    font-weight: 400;
    color: $color-title;
}