/* Our headquarters Section Style */
.headquarters{
    padding: 0 60px;
    margin: 168px 0;
}

.headquarters__title{
    font-size: 24px;
    font-weight: 900;
    color: #83888F;
    margin-bottom: 72px;
}

.headquarters__list{
    display: flex;
    gap: 180px;
}

.item__img{
    display: block;
    margin-bottom: 45px;
}

.item--title{
    font-size: 32px;
    font-weight: 900;
    color: $color-title;
    margin-bottom: 24px;
}

.item--text{
    width: 140px;
    font-size: 16px;
    font-weight: 400;
    color: $color-title;
    line-height: 26px;
}