/* Hero Section Style */
.hero{
    background-image: url('../../images/hero-bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 116px 85px;
    border-radius: 10px;
}

.hero__title{
    font-size: 40px;
    font-weight: 900;
    font-family: "Fraunces", serif;
    color: $color-primary;
    margin-bottom: 24px;
}

.hero__text{
    width: 445px;
    font-size: 16px;
    font-weight: 400;
    color: #fefcf7d0;
    line-height: 26px;
}